<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <% if logged_in? %>
  <header><%= current_user.username %></header>
    <form action="<%= session_url %>" method="POST">
      <input name="_method" type="hidden" value="DELETE">
      <input type="submit" value="Log out">
    </form>
  <% else %>
    <a href="<%= new_session_url %>">Login</a>
  <% end %>
    <%= yield %>
  </body>
</html>
